@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body{
  z-index: 1;
}

:root {
  height: 100%;
  /*background:radial-gradient(closest-corner at center,rgb(175, 174, 174),white);*/
  background:linear-gradient(in oklab,#32ac32,white);
  color-scheme: dark;
}
#footer {
  position: fixed;
  text-align: center;
  padding: 10px;
  margin-top: auto;
  z-index: 2;
  /*background-color: white;*/
}
#nav {
  position: fixed;
  background-color: white;
  z-index: 2;
}
#loginpage{
  font-style:oblique;
  font-weight: bolder;
  /*color:#228B22;*/
  color:#2c9f2c;
  font-size: 7vh;
}
#loginbutton{
  font-weight: bold;
  font-size:28px;
  color:ivory;
  width:45%;
  padding:3%;
  box-shadow: 10px 10px 30px gray;
  margin-top: 20px;
}

#background_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:whitesmoke; /*Set the background color for the box */
  height: 50vh; /* Set the height to 50% of the viewport height */
  width: 110vh; /* Set the width to 110% of the viewport height */
  z-index: 1;
  backdrop-filter: blur(2px) brightness(95%);
  box-shadow: 10px 10px 30px gray;
  border-radius: 25px;

}
#profilename{
  top: 30vh;
  left: 60vh;
  font-weight: bold;
  
}