@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
:root {
  height: 100%;
  background-color: spotify-black;
  color-scheme: dark;
}
#main {
  flex: 1;
}
#footer {
  position: fixed;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}
