@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body{
  z-index: 1;
}

:root {
  height: 100%;
  background:linear-gradient(in oklab,#32ac32,white);
  color-scheme: dark;
}
#footer {
  position: fixed;
  text-align: center;
  padding: 10px;
  margin-top: auto;
  z-index: 2;
  background-color: white;
}
#nav {
  position: fixed;
  background-color: white;
  z-index: 2;
}
#loginpage{
  font-style:oblique;
  font-weight: bolder;
  color:#2c9f2c;
  font-size: 7vh;
}
#loginbutton{
  font-weight: bold;
  font-size:28px;
  color:ivory;
  width:45%;
  padding:3%;
  box-shadow: 10px 10px 30px gray;
  margin-top: 20px;
}

#background_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:whitesmoke; 
  height: 50vh; 
  width: 110vh; 
  z-index: 1;
  backdrop-filter: blur(2px) brightness(95%);
  box-shadow: 10px 10px 30px gray;
  border-radius: 25px;

}
#profilename{
  top: 30vh;
  left: 60vh;
  font-weight: bold;
  
}