<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concert Events</title>
</head>

<body>
    <h1>Upcoming Concert Events</h1>
    <div>
        <% if (events.length === 0) { %>
            <p>No upcoming events found.</p>
        <% } else { %>
            <% events.forEach(event => { %>
                <div class="event">
                    <h2><%= event.name %></h2>
                    <p>Date: <%= event.date %></p>
                    <p>Time: <%= event.time %></p>
                    <a href="<%= event.url %>" target="_blank">More Info</a>
                </div>
            <% }) %>
        <% } %>
    </div>


</body>

</html>